<div>
    <h3>EDIT POST</h3>
    <form class="card-body">
        <label for="post-title">TITLE</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input"/>
        <label class="form-label" for="content">CONTENT</label>
        <input name="content" type="text" value="{{post.content}}" class="form-input"/>
        <button type="submit">SUBMIT</button>
        <button type="button">DELETE POST</button>
    </form>
</div>

<script src="/public/js/edit.js"></script>
<script src="/public/js/delete.js"></script>