<div class="card">
    <h3>LOGIN</h3>
    <form class="card-body" id="login-form">
        <label for="form-label" for="user-login">USERNAME</label>

        <input id="user-login" type="text" class="form-input"/>

        <label class="form-label" for="password">PASSWORD</label>

        <input id="password" type="password" class="form-input"/>

        <button type="submit">LOGIN</button>

    </form>
</div>
<script src="/public/js/login.js"></script>