<div class="card">
    <h3>CREATE NEW POST</h3>
    <form class="card-body" id="new-post">
        <label for="post-title" >TITLE</label>

        <input id="post-title" type="text" class="form-input"/>

        <label class="form-label" for="content">CONTENT</label>

        <input id="content" name="content" class="form-input"/>

        <button type="submit">CREATE/button>

    </form>
</div>
<script src="/public/js/post.js"></script>