<div class="card">
    <h3>SIGN UP</h3>
    <form class="card-body" id="signup-form">
        <label for="user-signup" >USERNAME</label>

        <input id="user-signup" type="text" class="form-input"/>

        <label class="form-label" for="password">PASSWORD</label>

        <input id="password" type="password" class="form-input"/>

        <button type="submit">SIGNUP</button>

    </form>
</div>

<script src="/public/js/signup.js"></script>